.home {
    background-color: var(--beige);
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    width: 100vw;
    height: 20vh;
    background-image: url('../../images/wood.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h2 {
    font-size: 5rem;
    color: var(--beige);
}

.welcome-text {
    text-align: center;
}

.featured {
    min-height: 20vh;
    width: 70vw;
    margin: 2rem 0;
}

.loop {
    background-color: var(--lblue);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.loop-inner {
    background-color: white;
    border-radius: 10px;
    min-height: 20vh;
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem 0;
    padding: 2rem;
}

.calendar,
.events {
    width: 50%;
}

.events {
    margin-left: 3rem;
}

.events p {
    margin-top: 1rem;
}

.slider {
    width: 100vw;
    background-color: var(--beige);
}

.slider-outer {
    overflow: hidden;
    margin-top: -2.5rem;
}

.slider-inner {
    display: flex;
    flex-direction: row;
}

.slider-image {
    animation: swiperAnimation 40s linear infinite;
}

.slider-image img {
    max-height: 15rem;
    max-width: 10rem;
    object-fit: cover;
    aspect-ratio: 1/2;
}

@keyframes swiperAnimation{
  0%{
    transform:translateX(0)
  }
  100% {
    transform:translateX(-500%)
  }
}